<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Tout ce qui vient de notre code -->
        <Logger name="ch.hearc.ig.guideresto" level="DEBUG" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <!-- Hibernate silencieux sauf WARN/ERROR -->
        <Logger name="org.hibernate" level="WARN"/>
        <Logger name="org.hibernate.SQL" level="WARN"/>
        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="WARN"/>
        <Logger name="org.hibernate.orm.connections.pooling" level="error"/>

        <!-- Racine -->
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>
